/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

	.HoverTitle {
		transform: scale(1);
		transition: transform 1s;

		font-size: 40px;
	}
	.HoverTitle:hover{
		transform: scale(1.2);
		transition: transform 1s;
	}
	.topnav {
		position: absolute;
		display: flex;
		top: 0px;
		width: 100vw;
		flex: 0 0 100%;
		justify-content: space-between;
		max-width: 100%;
		z-index: 9999;
	}

	.Chover {
		margin: 2vw;
		font-family: "Days One", sans-serif;
	}
	.link {
		color: black;
		text-decoration: none;
		border: none;
		background-color: transparent;
		cursor: pointer;
	}